
@{
    ViewData["Title"] = "Painel";
}

    <h1>Painel de controle</h1>
<br />
<br />

<div class="">
    <div class="row w-100">
        <div class="col-md-3">
            <div class="card border-cliente mx-sm-1 p-3">
                <div class="text-cliente text-center mt-3"><h4>Clientes</h4></div>
                <div class="text-cliente text-center mt-2"><h1>@ViewBag.Clientes</h1></div>
                <a asp-controller="Cliente" asp-action="Index" class="btn btn-primary">Visualizar</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-newsletter mx-sm-1 p-3">
                <div class="text-newsletter text-center mt-3"><h4>Newsletter</h4></div>
                <div class="text-newsletter text-center mt-2"><h1>@ViewBag.Newsletter</h1></div>
                <a asp-action="GerarCSVNewsletter" target="_blank" class="btn btn-success">Gerar arquivo</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="text-danger text-center mt-3"><h4>Produtos</h4></div>
                <div class="text-danger text-center mt-2"><h1>@ViewBag.Produto</h1></div>
                <a asp-controller="Produto" asp-action="Index" class="btn btn-danger">Gerenciar</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="text-warning text-center mt-3"><h4>Pedidos</h4></div>
                <div class="text-warning text-center mt-2"><h1>@ViewBag.NumeroPedidos</h1></div>
                <a asp-controller="Pedido" asp-action="Index" class="btn btn-warning">Gerenciar</a>
            </div>
        </div>
    </div>
</div>



<br />
<br />

<div class="">
    <div class="row w-100">
        <div class="col-md-4">
            <div class="card border-cliente mx-sm-1 p-3">
                <div class="text-cliente text-center mt-3"><h4>Total Vendido</h4></div>
                <div class="text-cliente text-center mt-2"><h1>@ViewBag.ValorTotalPedidos.ToString("C")</h1></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-newsletter mx-sm-1 p-3">
                <div class="text-newsletter text-center mt-3"><h4>Vendas em Boleto</h4></div>
                <div class="text-newsletter text-center mt-2"><h1>@ViewBag.QuantidadeBoletoBancario</h1></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="text-danger text-center mt-3"><h4>Vendas em Cartão</h4></div>
                <div class="text-danger text-center mt-2"><h1>@ViewBag.QuantidadeCartaoCredito</h1></div>
            </div>
        </div>
    </div>
</div>


